.playersListComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.listTitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 10%;
  border: 2px solid #000;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  margin-top: 10px;
}

.listContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  height: 90%;
  border: 2px solid #000;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.playerInputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 95%;
  height: 15%;
}
.playerInputLabel {
  font-size: 14px;
}
.inputAndButtonContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50%;
}
.playerInput {
  width: 50%;
  height: 60%;
  border: 1px solid #000;
  border-right: none;
  border-radius: 2px 0 0 2px;
}
.playerConfirmButton {
  width: 15%;
  height: 70%;
  border: none;
  color: #fff;
  background: green;
  border-radius: 0 2px 2px 0;
}
.playerConfirmButton:active {
  background: darkgreen;
}
.playersLengthContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 80%;
  padding-left: 10px;
}
.playersLength {
  text-align: center;
  font-size: 15px;
}

.listHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  background: skyblue;
  font-weight: bold;
}
.listNameHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
  height: 100%;
  padding-left: 10px;
}
.listPaymentHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
  height: 100%;
}
.listVoucherHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
  height: 100%;
  padding-right: 10px;
}
.listActionHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
  height: 100%;
  padding-right: 10px;
}

.playersListContainer {
  width: 100%;
  height: 75%;
  overflow: scroll;
}
.playerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 15%;
}
.playerRow:nth-child(even) {
  background: lightgray;
}
.playerNameColumn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
  height: 100%;
  padding-left: 10px;
  word-break: break-word;
}
.playerPaymentColumn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
  padding-left: 10px;
}
.playerVoucherColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 30px;
  text-align: right;
  padding-right: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  border: none;
  background: lightseagreen;
  padding: 0;
  border-radius: 5px;
}
.playerVoucherColumn:active {
  background: lightblue;
}
.playerActionColumn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
  height: 100%;
  padding-right: 10px;
}
.deletePlayerButton {
  width: 35%;
  height: 25px;
  background: #FF5757;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.deletePlayerButton:active {
  background: red;
}
.uploadShowPhotoModal {
  position: fixed;
  top: 15vh;
  left: 5%;
  width: 90%;
  height: 70%;
  background: #fff;
  border-radius: 5px;
  border: 2px solid #000;
}
.closeModalButtonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 10%;
}
.closeModalButton {
  width: 30px;
  height: 25px;
  background: #FF5757;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}
.closeModalButton:active {
  background: red;
}
.modalContentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
}
.uploadVoucherInput {
  width: 55%;
  height: 10%;
}
.uploadVoucherInput::file-selector-button {
  font-weight: bold;
  background: lightseagreen;
  padding: 0.5em;
  border: thin solid grey;
  border-radius: 5px;
  border: none;
}
.uploadButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 10%;
  background: lightseagreen;
  border-radius: 5px;
  font-weight: bold;
  border: none;
}
.uploadButton:active {
  background: lightblue;
}

.voucherImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}
.voucherImage {
  width: 75%;
  height: 80%;
}